
<div ng-controller="testUiComponents as test" class="wrapper">
  <h4>ui-datepicker-popup</h4>
  <div class="row">
    <div class="form-group col-lg-3" id="data_1">
      <label class="font-noraml">Simple date input format</label>

      <div class="input-group date">
        <input type="datetime" date-time auto-close="true" class="form-control" ng-model="sampleDate" view="date" min-view="date" format="dd/MM/yyyy">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      </div>
    </div>

  </div>


  <div class="row">
    <form role="form">
      <!--<button class="btn btn-primary" ng-click="test.callRest();">Test REST</button>-->
      <div class="container">
        <h1>Greeting</h1>

          <!--<p>The ID is {{test.greeting.id}}</p>-->
          <!--<p>The content is {{test.greeting.content}}</p>-->

      </div>
    </form>
  </div>

</div>
<div class="row">
  <!--<div ng-controller="ModalCtrl as modal">-->
    <!--<h3>Testing Modal Service..</h3>-->
    <!--<button class="btn btn-primary" ng-click="modal.openModal()">Open</button>-->
  <!--</div>-->
</div>
